@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.home--box{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    

    .home--title{
        font-size: 33px;
        font-weight: 500;
        line-height: 30.46px;
    }
    .home--heading{
        font-size: 18px;
        font-weight: 700;
        line-height: 22.5px;
        margin-top: 37px;
    }
    .home--content{
        padding: 0 33px;
        margin-top: 37px;
        line-height: 25.06px;
        color: #000;
    }
    hr{
        height: 1px;
        width: 297px;
        margin-top: 26px;
        background-color: #000;
    }
    .main--content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 33px;

        .main--heading{
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            // font-family: Poppins;
            margin-top: 32px;
        }
        .main--sub-heading{
            font-size: 33px;
            font-weight: 500;
            line-height: 44.48px;
            text-align: center;
            margin-top: 37px;
            
        }
        .main--sub-heading-content{
            font-family: 'DM Sans';
            font-size: 16px;
            font-weight: 700;
            line-height: 28.64px;
            text-align: center;
            margin-top: 37px;
        }
        .main-list{
            font-family: 'DM Sans';
            text-align: center;
            line-height: 28.64px;
            .list{
                .list--image{
                    width: 70px;
                    height: auto;
                    margin-top: 27px;
                }
                .list--content{
                    margin-top: 38px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        .test{
            margin-top: 66px;
            color: #000;
            font-family: 'DM Sans';
            font-size: 16px;
            line-height: 28.64px;
            font-weight: 400;
            text-align: center;
        }
    }
}